<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
     <div class="col-6">
        <div>
            <p><strong>User Name</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
      </div>
      <div class="col-6 bg-success">
        <ul class="row list-unstyled">
        <% for(var i=0; i<activities.length; i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <!-- maybe make a link for more details or to see coments instead of making the hwole thing a link -->
            <div>
              <h2><a href="/suggestions/<%= activities[i]._id%>"><%= activities[i].name %></a></h2>
              <p>Likes: <%= activities[i].likes %></p>
              <p>Suggested by: <%= activities[i].suggestedBy %></p>
            </div>
          </li>
        <% } %>
        </ul>  
      </div>
      <div class="col-6 bg-secondary">
        <h1>see</h1>
        <ul class="row list-unstyled">
          <% activities.forEach(activity => { %>
            <% if(activity.typeOfActivity === "see") { %>
          <li class="col-6 justify-content-between mt-5">
            <div>
              <h2><a href="/suggestions/<%= activity._id%>"><%= activity.name %></a></h2>
              <p>Likes: <%= activity.likes %></p>
              <p>Suggested by: <%= activity.suggestedBy %></p>
            </div>
          </li>
            <% } %>
          <% }) %>
        </ul>
      </div>  
    </div>
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>